# === Datasets (do NOT commit) ===
src/data/
data/
*.csv
*.zip
*.tsv

# === Python / notebooks ===
__pycache__/
*.pyc
.ipynb_checkpoints/

# === macOS / editor junk ===
.DS_Store
src/.DS_Store
.vscode/
.idea/

# === virtual environments ===
.venv/
env/
